<div class="container login-container">

  <div class="login-box animated fadeInUp">
    <div class="box-header">
      <h2>欢迎回来！</h2>
    </div>
    <form action="/sessions" method="post">
      <label for="phone">手机号</label>
      <br/>
      <input type="text" name="phone" id="phone">
      <br/>
      <label for="password">密码</label>
      <br/>
      <input type="password" name="password" id="password">
      <br/>
      <button type="submit">登录</button>
      <br/>
    </form>
    <a href="#"><p class="small">忘记密码?</p></a>
  </div>
</div>

