<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="glyphicon glyphicon-list-alt"></i> 主菜单
          <!--<span class="badge badge-info">NEW</span>-->
        </a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="glyphicon glyphicon-list-alt"></i>菜单一 </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="/homes/new"><i class="glyphicon glyphicon-list-alt"></i>子菜单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-list-alt"></i>子菜单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-list-alt"></i>子菜单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-list-alt"></i>子菜单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-list-alt"></i>子菜单</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>