<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>权限名称</th>
    <th>权限</th>
  </tr>
  </thead>
  <tbody>
  <% @authority.each do |auth| %>
      <tr>
        <td><%= auth.id%></td>
        <td><%= auth.name%></td>
        <td><%= auth.route_name%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @authority %>
