<header class="app-header navbar">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler sidebar-toggler2" href="#">☰</a>
    </li>
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Dashboard</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Users</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Settings</a>-->
    <!--</li>-->
  </ul>
  <!--<ul class="nav navbar-nav ml-auto">-->

    <!--<li class="nav-item dropdown">-->
      <!--<a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
        <!--<span class="d-md-down-none">admin</span>-->
      <!--</a>-->
      <!--<div class="dropdown-menu dropdown-menu-right">-->

        <!--<div class="dropdown-header text-center">-->
          <!--<strong>Settings</strong>-->
        <!--</div>-->

        <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>-->
      <!--</div>-->
    <!--</li>-->


  <!--</ul>-->
</header>