<header class="app-header navbar">
  <a class="navbar-brand" href="#"></a> <!--logo-->
  <ul class="nav navbar-nav d-md-down-none nav-left-menu">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">用户管理</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">订单管理</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">系统管理</a>
    </li>
  </ul>


  <ul class="nav navbar-nav ml-auto navbar-nav-right">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="d-md-down-none">admin<span class="caret"></span></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">

        <!--<div class="dropdown-header text-center">-->
          <!--<strong>Settings</strong>-->
        <!--</div>-->
        <a class="dropdown-item" href="#">设置</a>
        <a class="dropdown-item" href="#">退出</a>
      </div>
    </li>
  </ul>

</header>