<header class="app-header navbar">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler sidebar-toggler2" href="#">☰</a>
    </li>

  </ul>
</header>